    
<head>

<title>ejemplo</title>


</head>


<body>


<main>
    <h1>hola ocar UwU</h1>
    <h2>fallen estuvo aqui</h2>
    <h3>fallen estbo aqui x2</h3>

    <h2>joto el que lo lea</h2>


    <p>no se jaja

    </p>
    <p>no se jaja

    </p> <p>no se jaja

    </p> <p>no se jaja

    </p> <p>no se jaja

    </p> <p>no se jaja

    </p> <p>no se jaja

    </p>
</main>






<footer>



    
</footer>



</body>